@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --scrollbarBackground: #363636;
  --scrollbar: #141414;
  --preHeader: #141414;
  --preHeaderText: #ffffff;
  --footer: #232323;
  --postFooter: #141414;
  --foreground: #141414;
  --footerText: #ffffff;
  --postFooterText: #ffffff;
  --font-size-base: 16px;
  --dark-green: rgb(9, 65, 9);
  --dark-green-transparent-50: rgba(0, 128, 0, 0.5);
  --dark-green-transparent-25: rgba(0, 128, 0, 0.25);
  --green: rgb(66, 175, 66);
  --light-green: rgb(225, 252, 225);
  /* Base font size */
  --font-size-sm: 14px;
  /* Small font size */
  --font-size-lg: 20px;
  /* Large font size */
  --font-size-xl: 24px;
}

/* Styling the scrollbar background */
::-webkit-scrollbar {
  width: 15px;
  /* Adjust width of the scrollbar */
  height: 8px;
  /* For horizontal scrollbar, adjust height */
}

/* Styling the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: var(--scrollbarBackground);
  /* Black background for the scrollbar track */
  border-radius: 0px;
  /* Optional: Rounded corners for track */
}

/* Styling the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  /* Black color for the thumb */
  border-radius: 10px;
  /* Optional: Rounded corners for thumb */
  border: 2px solid var(--scrollbarBackground);
  ;
  /* Optional: Add border to the thumb for a better look */
}

/* Optional: Styling the scrollbar when hovered */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarBackground);
  /* Darker shade when hovered */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
    --postFooter: #141414;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
  padding-bottom: 20px;
  color: var(--green);
  font-weight: 800;
}

p {
  font-size: var(--font-size-base);
}

small {
  font-size: var(--font-size-sm);
}

form {
  width: 100%;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--green);
}

input {
  background-color: var(--light-green);
  color: var(--foreground);
  border-bottom: 2px solid var(--dark-green);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid var(--green);
  outline: none;
}

.custom-dashed-border {
  width: 100%;
  height: 175px;
  border: 5px solid var(--dark-green-transparent-25);
  border-style: dashed;
  border-radius: 15px;
}

footer {
  background-color: var(--footer);
  color: var(--foreground);
  padding: 20px;
  text-align: center;
}

footer a {
  color: var(--foreground);
  /* Ensure links in footer are readable */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}